.profile {
    padding-left: 20px;
    padding-bottom: 15px;
    background: #f5f4fa;
    padding-right: 10px;
    padding-top: 10px;
}
@media screen and (min-width: 510px) {
    .profile {
        padding-bottom: 15px;
        background: #f5f4fa;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .profile {
        width: 450px;
    }
  }
  @media screen and (min-width: 1200px) {
    .profile {
        width: 40%;
        padding-left: 40px;
    }
  }
.profile-contacts-item {
    height: 25px;
}
.profile-contacts-item-icon {
    width: 12px;
    height: 16px;
    margin-bottom: -3px;
    margin-right: 10px;
    fill: #757575;
}
.link:focus .profile-contacts-item-icon,
.link:hover .profile-contacts-item-icon {
    fill: #2196f3;
}